In [1]:
import pandas as pd

In [7]:
groceries = pd.Series(data= [30 , 6, 'Yes', 'No'], index= ['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [9]:
groceries.shape

(4,)

In [11]:
groceries.ndim

1

In [13]:
groceries.size

4

In [15]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [16]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

**Checking if a index label exists in a Panda series**

In [17]:
'banana' in groceries.index

False

In [18]:
'bread' in groceries.index

True

**Accessing and modifying elements**

In [19]:
groceries['eggs'] # Accesing by label name

30

In [23]:
groceries[['eggs', 'milk']] # Selecting multiple elements by label name

eggs     30
milk    Yes
dtype: object

In [24]:
groceries[0] # Accesing by numerical index

30

In [25]:
groceries[-1]

'No'

In [27]:
groceries[[0, 1]] # Selecting multiple elements by numerical index

eggs      30
apples     6
dtype: object

In [28]:
groceries.loc[['eggs', 'apples']] # Explicitly state we are using label names as indexes

eggs      30
apples     6
dtype: object

In [29]:
groceries.iloc[[2, 3]] # Explicitly state we are using numerical indexes

milk     Yes
bread     No
dtype: object

In [32]:
print(groceries,'\n')
groceries['eggs'] = 2
print(groceries)

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

**Delete elements from Panda series**

In [34]:
groceries.drop('apples') # This just drops apples for this line, it does not modify groceries
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [35]:
groceries.drop('apples', inplace= True) # This does modify groceries
groceries

eggs       2
milk     Yes
bread     No
dtype: object

**Element-wise arithmentic operations**

In [36]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [37]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [38]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [39]:
import numpy as np
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [40]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [41]:
fruits['bananas'] + 2

5

In [42]:
fruits.iloc[0] - 2

8

In [43]:
fruits[['apples', 'oranges']] / 2

apples     5.0
oranges    3.0
dtype: float64

In [44]:
groceries * 2 # As long as the operation is defined for each type in the series, this is valid

eggs          4
milk     YesYes
bread      NoNo
dtype: object